<section class="pet">
    <div class="card w-auto">
        <div class="card-body">
            <h3>{{name}} the {{breed}}</h3>
            <h4>Age: {{age}} year(s)</h4>
            <h4>Size: {{size}}</h4>
            <p>{{description}}</p>
        </div>
    </div>
</section>